input {
	float: rights;
	margin-left: 77em;
	padding: 10px 15px;
	border: 2px solid var(--dark-blue);
	border-radius: 25px;
	width: 25%;

}

input::placeholder {
	color: var(--light-grey);
}

.input:focus,
.input:active,
.input:hover {
	border-color: var(--accent);
}

#search_button,
#cancel_button {
	background: none;
	border: none;
	outline: none;
	position: absolute;

}

#search_button {
	left: 94.5rem;
	top: 4em;
}

#cancel_button {
	left: 97rem;
	top: 4.4em;
}