.item {
	text-align: center;
	margin-left: 3rem;
}

.item__image {
	margin-bottom: 1.5em
}

.item__heading_header {
	font-weight: 300;
	margin-bottom: 0.5rem;
	width: 15rem;
}

.item__heading_header:hover {
	color: var(--accent);
}

.item__heading_subheader {
	width: 15rem;
	font-size: 1.3rem;
	font-weight: 400;
	margin-bottom: 2em;
}