:root {
	--dark-blue: #050645;
	--blue: #CBE2FF;
	--light-blue: #E5F1FF;
	--light-grey: #AABACF;
	--accent: #E03268;
	--grey: #4A678B;
}

html {
	font-size: 14px;
}

* {
	margin: 0;
}

body {
	font-family: 'Rowdies', 'Roboto', sans-serif;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #fff;
}

h1 {
	color: var(--dark-blue);
	font-size: 4.3em;
	font-weight: 400;
}

h2 {
	font-size: 2.2rem;
	color: var(--dark-blue);
}

h3 {
	font-size: 1.7em;
	font-weight: 400;
	color: var(--dark-blue);
}

h1:hover,
h2:hover,
h3:hover {
	color: var(--accent);
}

span {
	color: var(--accent);
}

p {
	color: var(--grey);
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

button {
	background-color: var(--dark-blue);
	border: none;
	padding: 1em 3.5em;
	color: #fff;
	font-family: 'Roboto';
	font-weight: 500;
	border-radius: 25px;
}

button:hover {
	background-color: var(--accent);
}

hr {
	border: 1px solid rgba(255, 255, 255, 0.4);
}

.container {
	display: flex;
	justify-content: start;
	background-color: var(--light-blue);
	padding: 3em 8em 0 8em;
	margin: 2em 5em;
	border-radius: 25px;
	flex-wrap: wrap;
}

select {
	background: #FFFFFF;
	padding: 0.7em;
	border: 1px solid var(--dark-blue);
	border-radius: 10px;
	margin-right: 1em;
	border-radius: 25px;
	width: 15rem;
}

.filter_container {
	display: flex;
	justify-content: space-between;
	margin: 3em 10em 0 10em;
}